<%- include('partials/header') -%>
<section>
    <form class="form-login" action="/users/register" method="POST">
        <h3 class="form-header">New User Registration</h3>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="User-Name"
        />
        <input
          class="form-control"
          type="text"
          name="email"
          placeholder="Email"
        />
        <input
          class="form-control"
          type="text"
          name="password"
          placeholder="Password"
        />
        <input class="submit-btn btn" type="Submit" value="Create Account" />
</section>
<%- include('partials/footer') -%>